.main-header {
	 background-color: #fff;
}
 .nav > li > a {
	 color: #777;
}
 .nav > li > a:hover, .nav > li > a:focus {
	 background-color: #fff;
	 color: #0a98d7;
}
 .top-nav .nav > li > a:before {
	 background: #0a98d7;
}
 .couesemenu .topnav a.active {
	 border-bottom: 5px solid #118aef;
	 color: #4d575e;
}
 .program-card .program-detail__category {
	 color: #81868a;
}
 .program-card .program-detail__course {
	 color: #2a2f32;
}
 .eachCourseName {
	 color: #757575;
}
 .masterProgram-card .course-title, .elective-card .course-title, .learningPath-Card .course-title {
	 color: #111;
}
 .program-progress-box .progress .course-percentage-box {
	 background: #3a4adc;
}
 .program-progress-box .progress .course-percentage-box:before {
	 box-shadow: 0 0 0 2px #4653c9;
}
 .course-progress .percentage-box {
	 background: #2fb181;
}
 .course-progress .progress-bar {
	 background-color: #2fb181;
}
 .btn-primary, .btn-default, .btn-info, .btn-download, .btn-skip, .btn-disable {
	 color: #fff;
	 background-color: #118aef;
	 border-color: #118aef;
	 box-shadow: 0 1px #2971a5;
}
 .learning-env-header {
	 background-color: #1d2226;
}
 .learning-env-header .learning-env-header__back-btn {
	 background: #1d2226;
}
 .left-nav__nav ul {
	 background-color: #20262b;
}
 .learning-env-header__info .info__ename {
	 color: #bfcace;
}
 .learning-env-header__info .info__progress span {
	 color: #f5a623;
}
 .left-nav__nav ul li a.active {
	 color: #878d8f;
	 text-decoration: none;
}
 .left-nav__nav ul li a {
	 color: #878d8f;
}
 .syllabus-container .section-three-tier .lesson-section ul .lesson .lesson-accordion .lesson-name {
	 color: #484f57;
}
 .syllabus-container .section-three-tier .lesson-section ul .lesson .topic-section ul li.active {
	 background-color: #118aef;
}
 .syllabus-container .section-three-tier .lesson-section.collapse.in ul li.lesson-active {
	 border: 1px solid #118aef;
}
 .help_and_support > .help {
	 color: #777;
}
 .tools a {
	 color: #777;
}
 .tools a:hover {
	 color: #bfcace;
}
 .learning-env-header .learning-env-header__back-btn button {
	 color: #bfcace;
}
 
